
body {
    margin: 0px;
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    text-align: center;
    padding: 25px 10% 50px 10%;
    background-color: #FAEDCD;
    font-size: 130%;
}

a.Logo {
    text-decoration: none;
    padding-right: 50px;
}

a.navigation {
    color: #15120e66;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

div.middle-container {
    text-align: center;
    font-size: 120%;
    background-color: #EEEEEE;
    height: 720px;
}

h2 {
    margin: 0px;
}

div.scroll-and-text-section{
    
    padding-top: 100px;
    padding-left: 15%;
    float: left;
}

div.text-section {
    text-align: left;
}
a.how-it-works-link {
    text-decoration: none;
    color: #ff2b75;
}

button.selection-button {
    width: 200px;
    height: 50px;
    font-size: 100%;
    transition-duration: 0.4s;
}

button.selection-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

div.slide-bar-section {
    text-align: left;
}

div.beije-ped-slides-section {
    display: block;
}
div.beije-günlük-ped-slides-section {
    display: none;
}
div.beije-tampon-slides-section {
    display: none;
}

div.photo-and-total-cost-section {
    float:right;
    text-align: left;
    padding-top: 100px;
    padding-right: 15%;
}

input.purchase-button {
    width: 135px;
    height: 40px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 3px 10px -2.5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


footer {
    background-color: #2C3333;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px;
}

hr {
    width: 80%;
    color: White;
}

div.bottom-container {
    padding-bottom: 100px;
    color: #EEEEEE;
}

div.about-us {
    float: left;
    text-align :left;
    padding-left: 7.5%;
}

div.footer-in-bottom {
    padding-left: 50px;
    text-align: left;
    display: grid;
    grid-template-rows: repeat(4, 2rem);
    grid-template-columns: repeat(2, 1fr);
    width : 25%;
}

div.social-media-accounts {
    display: grid;
    grid-template-rows: repeat(5, 2rem);
    width: 10%;
    position: relative;
    bottom: 125px;
    left: 500px;
}

a.nav-bottom {
    font-size: 120%;
    margin-left: 10px;
    margin-right: 10px;
    color: #EAF6E6;
    text-decoration: none;
}


input.email-place {
    border-radius: 6px;
    width: 300px;
    height: 40px;
    opacity: 0.5;
    font-size: 120%;
}

input.submit-button {
    width: 135px;
    height: 40px;
    border: none;
    outline: none;
    background: #ff2b75;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 3px 10px -2.5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
div.legal-stuff {
    display: inline;
}

a.rights {
    font-size: 120%;
    margin-left: 10px;
    margin-right: 10px;
    color: #EAF6E6;
    text-decoration: none;
}


.slider {
    width: 600px;
    height: 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}
.slider label {
    font-size: 24px;
    font-weight: 400;
    font-family: Open Sans;
    padding-left: 10px;
    color: black;
}
.slider input[type="range"] {
    width: 600px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
}